.container
{
    padding: 0px;
    margin: 0px;
}

nav
{
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

nav > a
{
    font-size: 24px;
    padding: 0px 10px;
    line-height: 40px;
}
