<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Edit Post</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        
        <style>
        .container
        {
            padding: 0px;
            margin: 0px;
        }
        </style>
    </head>

    <body>
        <article>
            <div class="container col-lg-12 col-md-12">
                <div class="jumbotron col-lg-12 col-md-12">
                    <h1>Edit Post {{ title }}</h1>
                </div>
                
                <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form action="{{ url_for('execute_post_edit') }}" method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name="title"
                                   type="text"
                                   class="form-control"
                                   value="{{ title }}"/>
                        <div class="form-group">
                            <label for="subtitle">Subtitle</label>
                            <input name="subtitle"
                                   type="text"
                                   class="form-control"
                                   value="{{ subtitle }}"/>
                        </div>
                        <div class="form-group">
                            <label for="content">Content (Markdown)</label>
                            <textarea name="content" class="form-control">{{ content }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>
                </div>
            </div>
        </article>
    </body>
</html>