{% from 'macros.html' import header, nav %}
{{ header('Edit Post', '
    <style>
    textarea
    {
        min-height: 250px;
    }
    </style>
    ') }}

    <body>
        {{ nav(False) }}
        <article>
            <div class="container col-lg-12 col-md-12">
                <div class="jumbotron col-lg-12 col-md-12">
                {% if post.title|length > 0 %}
                    <h1>Edit Post -- {{ post.title }}</h1>
                {% else %}
                    <h1>New Post</h1>
                {% endif %}
                </div>

                <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form action="{{ url_for('execute_post_edit', post_id=post.post_id) }}"
                          method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name="title"
                                   type="text"
                                   class="form-control"
                                   value="{{ post.title }}"/>
                        </div>

                        <div class="form-group">
                            <label for="subtitle">Subtitle</label>
                            <input name="subtitle"
                                   type="text"
                                   class="form-control"
                                   value="{{ post.subtitle }}"/>
                        </div>

                        <div class="form-group">
                            <label for="date">Date</label>
                            <input name="date"
                                   type="date"
                                   class="form-control"
                                   value="{{ post.date }}"/>
                        </div>

                        <div class="form-group">
                            <label for="content">Content (Markdown)</label>
                            <textarea name="content" class="form-control">{{ post.content }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Save and Close</button>
                    </form>
                </div>
            </div>
        </article>
    </body>
</html>
