<!doctype html>
<html>
    <head>
        <title>Hello World Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/hello.css') }}">
        <style>
        h1
        {
            color: blue;
        }
        h2
        {
            color: green;
        }
        </style>
    </head>
    <body>
        <h1>Flask Test Project</h1>
        <h2>Hello
        {% if name %}
            {{name}}
        {% else %}
            World
        {% endif %}</h2>
        <ul>
        {% for i in range(10) %}
            <li>{{ i }}</li>
        {% endfor %}
        </ul>

        <h2>These are the active users</h2>
        <ul>
        {% for u in users %}
            <li>{{ u }}</li>
        {% endfor %}
        </ul>
        <ul>
    </body>
</head>
