{% from 'macros.html' import header, nav %}

{{ header('Post List', '
        <style>
        td a
        {
            padding: 5px;
        }
        </style>
') }}

    <body>
        {{ nav(False) }}
        <div class="container col-lg-12 col-md-12">
            <div class="jumbotron col-lg-12 col-md-12">
                <h1>Post List</h1>
            </div>
            <div class="row col-md-10 col-md-offset-1">
                <table class="table">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Subtitle</th>
                    </tr>
                {% for i in range(posts|length) %}
                    <tr>
                        <td>
                            <a href="blog/{{ posts[i].post_id }}">View</a>
                            <a href="edit/{{ posts[i].post_id }}">Edit</a>
                            <a href="delete/{{ posts[i].post_id }}">Delete</a>
                        </td>
                        <td>{{ posts[i].date }}</td>
                        <td>{{ posts[i].title }}</td>
                        <td>{{ posts[i].subtitle }}</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
