{% from 'macros.html' import header, nav %}
{{ header('Post List', '
        <style>
        .container
        {
            padding: 0px;
            margin: 0px;
        }
        h1
        {
            display: inline-block;
            padding-right: 1em;
        }
        h2
        {
            display: inline-block;
            font-size: 24px;
        }
        </style>
        ') }}

    <body>
        {{ nav(False) }}
        <div class="container col-lg-12 col-md-12">
            <div class="jumbotron col-lg-12 col-md-12">
                <h1>Post List</h1>
            </div>
            {% for i in range(posts|length) %}
            <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="blog/{{ posts[i].url }}"><h1 class="col-lg-3 col-md-3">{{ posts[i].title }}</h1><h2>{{ posts[i].subtitle }}</h2></a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>