{% from 'macros.html' import header, nav %}
{{ header('Post List', '
        <style>
        h2
        {
            display: inline-block;
            padding-right: 1em;
        }
        h3
        {
            display: inline-block;
            font-size: 24px;
        }
        </style>
        ') }}

    <body>
        {{ nav(False) }}
        <div class="container col-lg-12 col-md-12">
            <div class="jumbotron col-lg-12 col-md-12">
                <h1>Post List</h1>
            </div>
            {% for i in range(posts|length) %}
            <div class="row col-md-10 col-md-offset-1">
                <a href="blog/{{ posts[i].post_id }}">
                    <h2 class="col-md-4">{{ posts[i].date }} {{ posts[i].title }}</h2>
                    <h3>{{ posts[i].subtitle }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
