{% from 'macros.html' import header, nav %}
{{ header(post.title, '
        <style>
        .container
        {
            padding: 0px;
            margin: 0px;
        }
        </style>
        ') }}

    <body>
        {{ nav(True, post.url) }}
        <!-- Post Content -->
        <article>
            <div class="container col-lg-12 col-md-12">
                <div class="jumbotron col-lg-12 col-md-12">
                    <h1>{{ post.title }}</h1>
                    <h2>{{ post.subtitle }}</h2>
                    <h3>{{ post.date }}</h3>
                </div>
                <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.md_content|safe }}
                </div>
            </div>
        </article>
    </body>
</html>
